Pipfile.lock
.idea
__pycache__/
.DS_Store
venv/
.env

# ignore everything under those data folders
project/data/data_audio_samples_split/*
project/data/manually_extracted_features/*
project/data/spectograms/*

!project/data/data_audio_samples_split/.gitkeep
!project/data/manually_extracted_features/.gitkeep
!project/data/spectograms/.gitkeep
*.sh/
slurm-*.out/
venv_local/